

body{
	background: #061023;
}
.item1{
	font: 50px arial;
	color: white;
	font-family: 'Monoton', cursive;
	text-align: center;
}

table, th, tr, td {
	border: 2px solid white;
	padding: 25px;
}
table{
	border: 5px dotted blue;
}

.item3{
	text-align: center;
	font:20px times new roman;
	color: white;
	padding-top: 20px;
}


